<%= form_for(@config) do |f| %>
  <% if @config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% @config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_fond %><br>
    <%= f.file_field :image_fond %>
  </div>
  <div class="field">
    <%= f.label :bandeau %><br>
    <%= f.file_field :bandeau %>
  </div>
  <div class="field">
    <%= f.label :inscription_automatique %><br>
    <%= f.check_box :inscription_automatique %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
