<p id="notice"><%= notice %></p>

<h1>Listing Configs</h1>

<table>
  <thead>
    <tr>
      <th>Image fond</th>
      <th>Bandeau</th>
      <th>Inscription automatique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%= config.image_fond %></td>
        <td><%= config.bandeau %></td>
        <td><%= config.inscription_automatique %></td>
        <td><%= link_to 'Show', config %></td>
        <td><%= link_to 'Edit', edit_config_path(config) %></td>
        <td><%= link_to 'Destroy', config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config', new_config_path %>
