<p id="notice"><%= notice %></p>

<p>
  <strong>Image fond:</strong>
  <%= image_tag @config.image_fond.url(:thumb) %>
</p>

<p>
  <strong>Bandeau:</strong>
  <%= image_tag @config.bandeau.url(:thumb) %>
</p>

<p>
  <strong>Inscription automatique:</strong>
  <%= @config.inscription_automatique %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
