Vous avez demandé à créer un compte sur Défiweb.
Merci de cliquer sur ce lien pour valider votre demande :
<%= "http://" + Rails.application.routes.default_url_options[:host] + "/users/#{@user.id}/active?token=#{@user.perishable_token}" %>

Ce lien sera valide pendant 24h après son envoi.
Passé ce délai, il faudra redemander un lien de validation sur le site.
