<% if @message %>
  <%= @message %>
<% else %>
  Vous avez demandé à réinitialiser votre mot de passe pour le Défiweb.
  Pour cela cliquez sur le lien suivant et suivez les instructions:
<% end %>
<%= edit_password_reset_url(@user.perishable_token) %>
