<div id="toolbar">
  <%= link_to new_note_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter une note
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Valeur</th>
      <th>Picto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.name %></td>
        <td><%= note.value %></td>
        <td><%= image_tag note.picto.url(:thumb) %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td>
          <%= link_to note, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cette note ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
