<div class="form-box">

  <div class="well consignes">
    <p>Veuillez saisir votre nouveau mot de passe ci-dessous.</p>
  </div>

  <%= form_tag("/password_resets/#{@user.perishable_token}", method: "patch") do %>
    <%= render 'shared/errors', object: @user %>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Mot de passe" %>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= password_field_tag :password_confirmation, nil, class: "form-control", placeholder: "Confirmation du mot de passe" %>
    </div>

    <%= submit_tag "Changer le mot de passe", class: 'btn btn-primary login' %>

  <% end %>

</div>
