<div class="form-box">

  <div class="well consignes">
    <%= markdown(@consigne.description) %>
  </div>

  <%= form_tag("/password_resets") do |f| %>

  	  <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <%= text_field_tag "email", nil, class: "form-control", placeholder: "Courriel académique", required: true %>
      </div>

    <%= submit_tag "Réinitialiser le mot de passe", class: 'btn btn-primary login' %>
    <br/><br/>
    <%= link_to 'Annuler', sign_in_path %><br/>
  <% end %>

</div>
