<div id="toolbar">
  <%= link_to new_academy_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter une académie
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Adresse</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @academies.each do |academy| %>
      <tr>
        <td><%= academy.name %></td>
        <td><%= academy.description %></td>
        <td>
          <%= link_to edit_academy_path(academy) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        </td>
        <td>
          <%= link_to academy, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer une académie ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
