<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @academy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @academy.description %>
</p>

<%= link_to 'Edit', edit_academy_path(@academy) %> |
<%= link_to 'Back', academies_path %>
