<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group">
    <span class="input-group-addon"><i class="fa fa-building"></i></span>
    <%= f.text_field :name, class: "form-control", placeholder: "Nom de la classe" %>
  </div>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
      <%= f.select :circonscription_id, options_for_select(Circonscription.order(:name).collect{|mt| [mt.name, mt.id]}.insert(0, "Choisir une circonscription"), @classroom.circonscription_id), {}, class: "form-control" %>
    </div>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><i class="fa fa-building"></i></span>
    <%= f.text_field :ecole, class: "form-control", placeholder: "Nom de l'établissement" %>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <%= f.text_field :email_etablissement, class: "form-control", placeholder: "Courriel académique de l'établissement", required: true, value:@classroom.email_etablissement.to_s %>
  </div>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
      <%= f.select :school_type_id, options_for_select(SchoolType.all.collect{|mt| [mt.name, mt.id]}.insert(0, "Choisir un type d'établissement"), @classroom.school_type_id), {}, class: "form-control" %>
    </div>
  </div>

  <div class="well">
    <p>Choix du Défiweb</p>
    <% @cycles.each do |cycle| %>
      <div class="col-lg-6">
        <div class="field input-group">
          <span class="input-group-addon">
            <%= check_box_tag cycle.name, cycle.id, @classroom.cycle?(cycle.id), class:"check" %>
          </span>
          <div class="form-control"><%= cycle.name %></div>
        </div>
      </div>
    <% end %>
    <br/><br/>
  </div>

  <div class="well">
    <p>Niveaux de classe</p>
    <% @levels.each do |level| %>
      <% if level.name=="autre" %>
        <div class="col-lg-12">
          <div class="field input-group">
            <span class="input-group-addon">
              <%= check_box_tag level.name, level.id, @classroom.level?(level.id), class:"check", id:"otherCheck" %>
            </span>
            <%= text_field_tag "other_classroom", @classroom.other_level, class: "form-control", placeholder: "si autre, précisez", id:"otherClassroom" %>
          </div>
        </div>
      <% else %>
        <div class="col-lg-4">
          <div class="field input-group">
            <span class="input-group-addon">
              <%= check_box_tag level.name, level.id, @classroom.level?(level.id), class:"check" %>
            </span>
            <div class="form-control"><%= level.name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <br/><br/><br/><br/><br/><br/><br/>
  </div>

  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary"%>
  </div>

<% end %>
