<div id="toolbar">

</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="false"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th data-sortable="true">Nom de la classe</th>
      <th data-sortable="true">Cycles</th>
      <th data-sortable="true">Niveaux</th>
      <th data-sortable="true">Etablissement</th>
      <th data-sortable="true">Courriel établissement</th>
      <th data-sortable="true">Type d'établissement</th>
      <th data-sortable="true">Circonscription</th>
      <th data-sortable="true">Enseignants</th>
      <th data-sortable="true">Courriels des enseignants</th>
      <th data-sortable="true">Inscription validée</th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><ul>
          <% i = 1 %>
          <% compte = classroom.cycles.count %>
          <% classroom.cycles.each do |cycle| %>
            <li><%= "#{cycle.name}#{i>=compte ? '' : ','}" %></li>
            <% i += 1 %>
          <% end %>
        </ul></td>
        <td><ul>
          <% i = 1 %>
          <% compte = classroom.levels.count %>
          <% classroom.levels.each do |level| %>
            <li><%= "#{(level.name=="autre" ? classroom.other_level : level.name)}#{i>=compte ? '' : ','}" %></li>
            <% i += 1 %>
          <% end %>
        </ul></td>
        <td><%= classroom.ecole %></td>
        <td><%= classroom.email_etablissement %></td>
        <td><%= classroom.school_type && classroom.school_type.name %></td>
        <td><%= classroom.circonscription && classroom.circonscription.name %></td>
        <td><ul>
          <% i = 1 %>
          <% compte = classroom.users.count %>
          <% classroom.users.each do |user| %>
            <li><%= "#{user.name}#{i>=compte ? '' : ','}" %></li>
            <% i += 1 %>
          <% end %>
        </ul></td>
        <td><ul>
          <% i = 1 %>
          <% compte = classroom.users.count %>
          <% classroom.users.each do |user| %>
            <li><%= "#{user.email}#{i>=compte ? '' : ','}" %></li>
            <% i += 1 %>
          <% end %>
        </ul></td>
        <td><ul>
          <% i = 1 %>
          <% compte = classroom.users.count %>
          <% classroom.users.each do |user| %>
            <li><%= "#{user.active ? 'oui' : 'non'}#{i>=compte ? '' : ','}" %></li>
            <% i += 1 %>
          <% end %>
        </ul></td>
      </tr>
    <% end %>
  </tbody>
</table>
