<div id="toolbar">
  <%= link_to new_classroom_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter une classe
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th data-sortable="true">Nom</th>
      <th data-sortable="true">Cycles</th>
      <th data-sortable="true">Niveaux</th>
      <th data-sortable="true">Etablissement</th>
      <th data-sortable="true">Circonscription</th>
      <th data-sortable="true">Enseignants</th>
      <th data-sortable="true">Création</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><ul>
          <% classroom.cycles.each do |cycle| %>
            <li><%= cycle.name %>
            <%= link_to "/results/saisie?classroom_id=#{classroom.id};cycle_id=#{cycle.id}" do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            <% end %></li>
          <% end %>
        </ul></td>
        <td><ul>
          <% classroom.levels.each do |level| %>
            <li><%= (level.name=="autre" ? classroom.other_level : level.name) %></li>
          <% end %>
        </ul></td>
        <td><%= classroom.ecole %><br/><%= classroom.email_etablissement %></td>
        <td><%= classroom.circonscription && classroom.circonscription.name %></td>
        <td><ul>
          <% classroom.users.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        </ul></td>
        <td><%= classroom.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          <%= link_to edit_classroom_path(classroom) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        <td>
          <%= link_to classroom, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cette classe ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
