<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>Circonscription:</strong>
  <%= @classroom.circonscription %>
</p>

<p>
  <strong>Cycle:</strong>
  <ul>
    <% @classroom.cycles.each do |cycle| %>
      <%= cycle.name %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @classroom.ecole %>
</p>

<p>
  <strong>School type:</strong>
  <%= @classroom.school_type %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
