<%= form_for(@school_type) do |f| %>
  <% if @school_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_type.errors.count, "error") %> prohibited this school_type from being saved:</h2>

      <ul>
      <% @school_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class:"btn btn-primary" %>
  </div>
<% end %>
