<div id="toolbar">
  <%= link_to new_school_type_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter un type d'établissement
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Types</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_types.each do |school_type| %>
      <tr>
        <td><%= school_type.name %></td>
        <td>
          <%= link_to edit_school_type_path(school_type) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        <td>
          <%= link_to school_type, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce type d'établissement ?" } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
