<h1>Instructions</h1>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="false"
     data-click-to-select="false"
     data-search="true"
     data-show-export="false"
     data-reorderable-columns="false"
     data-show-refresh="false"
     data-show-pagination-switch="false">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @instructions.each do |instruction| %>
      <tr>
        <td><%= instruction.name %></td>
        <td>
          <%= link_to edit_instruction_path(instruction) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
