<div id="toolbar">
  <%= link_to new_circonscription_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter une circonscription
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th data-sortable="true">Nom</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @circonscriptions.each do |circonscription| %>
      <tr>
        <td><%= circonscription.name %></td>
        <td>
          <%= link_to edit_circonscription_path(circonscription) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        <td>
          <%= link_to circonscription, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cette circonscription ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
