<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @circonscription.name %>
</p>

<%= link_to 'Edit', edit_circonscription_path(@circonscription) %> |
<%= link_to 'Back', circonscriptions_path %>
