<div id="toolbar">
  <%= link_to new_classroom_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter une classe pour cet utilisateur
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Classe</th>
      <th>Cycle</th>
      <th>Niveaux</th>
      <th>Etablissement</th>
      <th>Circonscription</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.classrooms.each do |classroom| %>
    <tr>
      <td><%= classroom.name %></td>
      <td><ul>
        <% classroom.cycles.each do |cycle| %>
          <li><%= cycle.name %></li>
        <% end %>
      </ul></td>
      <td><ul>
        <% classroom.levels.each do |level| %>
          <li><%= level.name %></li>
        <% end %>
      </ul></td>
      <td><%= classroom.ecole %></td>
      <td><%= classroom.circonscription && classroom.circonscription.name %></td>
      <td>
        <%= link_to edit_classroom_path(classroom) do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %>
      <td>
        <%= link_to classroom, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cette classe ?' } do %>
          <i class="fa fa-trash fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
