<div class="form-box">

  <%= form_for @user do |f| %>
    <%= render 'shared/errors', object: @user %>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Nom" %>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :first_name, class: "form-control", placeholder: "Prénom" %>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: "Mot de passe" %>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation du mot de passe" %>
    </div>

    <%= f.submit "Modifier", class: 'btn btn-primary login' %>
    <br/><br/>
    <%= link_to "Se désinscrire de Défiweb", @user, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir vous désinscrire de Défiweb ?' }, class:"btn btn-warning login" %>

    <br/><br/>
    <%= link_to 'Retour', root_path %>
  <% end %>

</div>
