<div class="form-box">

  <%= form_for @user do |f| %>
    <%= render 'shared/errors', object: @user %>

    <div class="col-md-6">
      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Nom" %>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.text_field :first_name, class: "form-control", placeholder: "Prénom" %>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <%= f.text_field :email, class: "form-control", placeholder: "Courriel académique", value: @user.email.to_s, readonly: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <p>Dernière connexion le : <%= @user.current_login_at && @user.current_login_at.strftime("%d/%m/%Y à %Hh%M") %></p>
        <p>Dernière adresse ip : <%= @user.current_login_ip %></p>
        <p>Nombre de connexions réussies : <%= @user.login_count %></p>
        <p>Nombre d'échecs de connexion : <%= @user.failed_login_count %></p>
      </div>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: "Mot de passe" %>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation du mot de passe" %>
    </div>

    <div class="col-md-3">
      <div class="well">
        <p>actif ? <%= f.check_box :active, value: @user.active ? 1 : 0, class: "my-checkbox" %></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <p>admin ? <%= f.check_box :admin, value: @user.admin ? 1 : 0, class: "my-checkbox" %></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <p>pilote ? <%= f.check_box :pilote, value: @user.pilote ? 1 : 0, class: "my-checkbox" %></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <p>bloqué ? <%= f.check_box :bloque, value: @user.bloque ? 1 : 0, class: "my-checkbox" %></p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="well">
        <%= render 'classrooms' %>
      </div>
    </div>

    <%= f.submit "Modifier", class: 'btn btn-primary login' %>
    <br/><br/>
    <%= link_to 'Retour', users_path %><br/>
  <% end %>

</div>
