<% @cycles.each do |key, value| %>
  <div class="col-md-6">
    <h1><%= key %></h1>
    <%= text_area_tag key, value, class: "form-control", rows: 10  %>
  </div>
<% end %>

<div class="end_page"></div>
