<div id="toolbar">
  <%= link_to new_user_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter un utilisateur
  <% end %>
  <%= link_to '/users/emails', class: "btn btn-info" do %>
    <i class="fa fa-message-o"></i>
    Exporter courriels
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th data-sortable="true">Nom</th>
      <th data-sortable="true">Email</th>
      <th data-sortable="true">Classes</th>
      <th data-sortable="true">Actif</th>
      <th data-sortable="true">Dernier login le</th>
      <th data-sortable="true">Login count</th>
      <th data-sortable="true">Création</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
          <% if user.admin %>
            <i class="fa fa-star-o" title="admin"></i>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td><ul>
          <% user.classrooms.each do |classroom| %>
            <li><%= "#{classroom.name}, #{classroom.ecole}, circonscription de #{classroom.circonscription && classroom.circonscription.name}" %></li>
          <% end %>
        </ul></td>
        <td>
          <% if user.active %>
            <i class="fa fa-check" title="true"></i>
          <% else %>
            <a onclick="sendActivation(<%= user.id %>)" title="Renvoyer le courriel d'activation"><i class="fa fa-envelope" title="false"></i></a>
          <% end %>
        </td>
        <td><%= user.current_login_at && user.current_login_at.strftime("%Y/%m/%d %Hh%M") %></td>
        <td><%= user.login_count %></td>
        <td><%= user.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        </td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cet utilisateur ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
