<div class="form-box">

  <%= form_for @user do |f| %>
    <%= render 'shared/errors', object: @user %>

    <div class="col-md-6">
      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Nom", required: true %>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <%= f.text_field :first_name, class: "form-control", placeholder: "Prénom", required: true %>
      </div>

  	  <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
        <%= f.text_field :email, class: "form-control", placeholder: "Courriel académique", value: @user.email.to_s, required: true %>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <%= f.password_field :password, class: "form-control", placeholder: "Mot de passe", required: true %>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation du mot de passe", required: true %>
      </div>

      <div class="control-group">
    	  <div class="field input-group">
    			<span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
          <%= select_tag "circonscription_id", options_for_select(Circonscription.order(:name).collect{|mt| [mt.name, mt.id]}.insert(0, "Choisir une circonscription")), class: "form-control" %>
        </div>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
        <%= text_field_tag "etablissement", nil, class: "form-control", placeholder: "Nom de l'établissement", required: true %>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
        <%= text_field_tag "email_etablissement", nil, class: "form-control", placeholder: "Courriel académique de l'établissement", required: true %>
      </div>

      <div class="control-group">
    	  <div class="field input-group">
    			<span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
          <%= select_tag "school_type_id", options_for_select(SchoolType.all.collect{|mt| [mt.name, mt.id]}.insert(0, "Choisir un type d'établissement")), class: "form-control" %>
        </div>
      </div>

      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
        <%= text_field_tag "class_name", nil, class: "form-control", placeholder: "Nom de la classe", required: true %>
      </div>

      <div class="well">
        <p>Choix du Défiweb</p>
        <% @cycles.each do |cycle| %>
          <div class="col-lg-6">
            <div class="field input-group">
              <span class="input-group-addon">
                <%= check_box_tag cycle.name, cycle.id, false, class:"check checkbox_cycle", type:"checkbox", onclick:"validateInscription();"  %>
              </span>
              <div class="form-control"><%= cycle.name %></div>
            </div>
          </div>
        <% end %>
        <br/><br/>
      </div>

      <div class="well">
        <p>Niveaux de classe</p>
        <% @levels.each do |level| %>
          <% if level.name=="autre" %>
            <div class="col-lg-12">
              <div class="field input-group">
                <span class="input-group-addon">
                  <%= check_box_tag level.name, level.id, false, class:"check checkbox_niveau", id:"otherCheck", onclick:"validateInscription();" %>
                </span>
                <%= text_field_tag "other_classroom", nil, class: "form-control", placeholder: "si autre, précisez", id:"otherClassroom" %>
              </div>
            </div>
          <% else %>
            <div class="col-lg-4">
              <div class="field input-group">
                <span class="input-group-addon">
                  <%= check_box_tag level.name, level.id, false, class:"check checkbox_niveau", onclick:"validateInscription();" %>
                </span>
                <div class="form-control"><%= level.name %></div>
              </div>
            </div>
          <% end %>
        <% end %>
        <br/><br/><br/><br/><br/><br/><br/>
      </div>

    </div>

    <div class="col-md-6">
      <div class="well consignes faq">
        <%= markdown(@consigne.description.to_s) if @consigne %>
      </div>
    </div>

    <button id='buttonValidateInscription' class='btn btn-primary login' title="Vous devez compléter tout le formulaire" disabled>S'inscrire</button>
    <br/><br/>
    <%= link_to 'Annuler', :back %><br/>

  <% end %>


</div>
