<div id="toolbar">
  <%= link_to new_cycle_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter un cycle
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cycles.each do |cycle| %>
      <tr>
        <td><%= cycle.name %></td>
        <td>
          <%= link_to edit_cycle_path(cycle) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        <td>
          <%= link_to cycle, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer ce cycle ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
