<% faq = Instruction.where(name: "faq").first %>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>
<div class="well faq">
  <%= markdown(faq.description) %>
</div>
<%= link_to 'Retour', "/" %><br/>
