<% unless current_user %>
  <nav class="navbar navbar-inverse">
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Voir tous les résultats">Voir tous les résultats <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Tous les cyles", "/global/0" %></li>
            <% Cycle.order(:name).each do |cycle| %>
              <li><%= link_to cycle.name, "/global/#{cycle.id}" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Se connecter', sign_in_path %></li>
      </ul>
    </div>
  </nav>
<% end %>

<h2><%= @titre %></h2>

<div class="col-md-12">
  <div id="toolbar">
    <div class="control-group">
      <div class="field input-group">
        <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
        <%= select_tag "test_id", options_for_select(@tests.collect{|mt| [mt.name, mt.id]}.insert(0, "Toutes les épreuves"), @test && @test.id), class: "form-control", id: "test_id", onchange: "selectTest(#{@cycle && @cycle.id})" %>
      </div>
    </div>
  </div>
</div>

<table id="table"
     data-classes="table table-condensed table-xs"
     data-striped="false"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="false"
     data-show-refresh="false"
     data-show-pagination-switch="false">
  <thead>
    <tr>
      <th>Circonscription</th>
      <th>Cycles</th>
      <th>Etablissement</th>
      <th>Classes</th>
      <th>Niveaux</th>
      <th>Enseignants</th>
      <% if @test %>
        <th title="<%= @test.name %>" align="center">
          <%= image_tag @test.picto.url(:xs) %>
        </th>
      <% else %>
        <% @tests.each do |test| %>
          <th title="<%= test.name %>">
            <%= image_tag test.picto.url(:xs) %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <% classroom.cycles.each do |cycle| %>
        <% if (!@cycle or (@cycle && @cycle.id==cycle.id)) %>
          <% count = Result.where(classroom_id: classroom.id, cycle_id: cycle.id).count %>
          <% if (count>0 or @vide) %>
            <tr>
              <td><%= classroom.circonscription && classroom.circonscription.name %></td>
              <td><%= cycle.name %></td>
              <td><%= classroom.ecole %></td>
              <td><%= classroom.name %></td>
              <td><ul>
                <% classroom.levels.each do |level| %>
                  <li><%= (level.name=="autre" ? classroom.other_level : level.name) %></li>
                <% end %>
              </ul></td>
              <td><ul>
                <% nb = classroom.user_ids.count %>
                <% i = 1 %>
                <% classroom.users.each do |user| %>
                  <li><%= "#{user.name}#{i>=nb ? '' : ','}" %></li>
                  <% i += 1 %>
                <% end %>
              </ul></td>
              <% if @test %>
                <td>
                  <% result = Result.where(classroom_id: classroom.id, cycle_id: cycle.id, test_id: @test.id).first %>
                  <% if result %>
                    <%= image_tag result.note.picto.url(:xs), title: "#{@test.name}: #{result.note.name}" %>
                    <br/><p class="white"><%= result.note.value %></p>
                  <% end %>
                </td>
              <% else %>
                <% @tests.each do |test| %>
                  <td>
                    <% result = Result.where(classroom_id: classroom.id, cycle_id: cycle.id, test_id: test.id).first %>
                    <% if result %>
                      <%= image_tag result.note.picto.url(:xs), title: "#{test.name}: #{result.note.name}" %>
                      <br/><p class="white"><%= result.note.value %></p>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
