<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-blackboard"></span>
        Mes classes
      </h4>
    </div>
    <div class="panel-collapse collapse">
      <div class="panel-body">
        <div id="toolbar">
          <%= link_to new_classroom_path, class: "btn btn-primary" do %>
            <i class="fa fa-plus"></i>
            Ajouter une nouvelle classe
          <% end %>
        </div>

        <table id="table"
             data-classes="table table-hover table-condensed"
             data-striped="true"
             data-toolbar="#toolbar"
             data-pagination="false"
             data-click-to-select="false"
             data-search="false"
             data-show-export="false"
             data-reorderable-columns="false"
             data-show-refresh="false"
             data-show-pagination-switch="false">
          <thead>
            <tr>
              <th>Classe</th>
              <th>Cycle</th>
              <th>Niveaux</th>
              <th>Etablissement</th>
              <th>Type d'établissement</th>
              <th>Circonscription</th>
              <th>Autres enseignants</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user.classrooms.each do |classroom| %>
              <tr>
                <td><%= classroom.name %></td>
                <td>
                  <% classroom.cycles.each do |cycle| %>
                    <%= link_to "/results/saisie?classroom_id=#{classroom.id};cycle_id=#{cycle.id}", class: "btn btn-info btn-sm" do %>
                      <i class="fa fa-pencil"></i>
                      <%= cycle.name %> : Saisir les résultats
                    <% end %>
                  <% end %>
                </td>
                <td><ul>
                  <% classroom.levels.each do |level| %>
                    <li><%= (level.name=="autre" ? classroom.other_level : level.name) %></li>
                  <% end %>
                </ul></td>
                <td><%= classroom.ecole %></td>
                <td><%= classroom.school_type && classroom.school_type.name %></td>
                <td><%= classroom.circonscription && classroom.circonscription.name %></td>
                <td>
                  <% if classroom.users.count>1 %>
                    <ul>
                      <% classroom.users.each do |user| %>
                        <% if @user.id!=user.id %>
                          <li>
                            <%= user.name %>
                            <% if current_user.admin %>
                              <%= link_to "-", "/classrooms/#{classroom.id}/users/#{user.id}", method: "delete" %>
                            <% end %>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                  <button type="button" class="btn btn-info btn-sm boutonAfficheModaleAjoutEnseignant" value="<%= classroom.id %>">
                    <i class="fa fa-plus"></i> Ajouter un enseignant
                  </button>
                </td>
                <td>
                  <%= link_to edit_classroom_path(classroom) do %>
                    <i class="fa fa-pencil fa-fw"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to "/classrooms/#{classroom.id}/users/#{current_user.id}", method: :delete, data: { confirm: "Etes-vous sûr de vouloir retirer cette classe de votre liste ?" } do %>
                    <i class="fa fa-trash fa-fw"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-book"></span>
        Mes documents
      </h4>
    </div>
    <div class="panel-collapse collapse">
      <div class="panel-body">
        <table id="table_docs"
             data-classes="table table-hover table-condensed"
             data-striped="true"
             data-pagination="false"
             data-click-to-select="false"
             data-search="false"
             data-show-export="false"
             data-reorderable-columns="false"
             data-show-refresh="false"
             data-show-pagination-switch="false">
          <thead>
            <tr>
              <th>Epreuves</th>
              <th>Cycles</th>
              <th>
                Documents
                <% if @user.admin %>
                  <%= link_to new_document_path do %>
                    <span class="glyphicon glyphicon-plus"></span>
                  <% end %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% rows = Cycle.all.count %>
            <% @tests.each do |test| %>
              <% i = 0 %>
              <% Cycle.all.each do |cycle| %>
                <% i += 1 %>
                <tr>
                  <% if i==1 %>
                    <td rowspan="<%= rows %>"><%= image_tag test.picto.url(:thumb) %><%= test.name %></td>
                  <% end %>
                  <td valign="middle"><%= cycle.name %></td>
                  <td>
                    <% Document.where(cycle_id: cycle.id, test_id: test.id).each do |document| %>
                      <%= link_to document.file.url, target: "_blank", title: "#{document.description}" do %>
                        <span class="glyphicon glyphicon-book"></span>
                        <%= document.name %>
                      <% end %>
                      <br/>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modale d'ajout d'un enseignant à la classe -->
<div id="modaleAjoutEnseignant" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> <h4 class="modal-title" id="mySmallModalLabel">Ajout d'un nouvel enseignant pour cette classe</h4> </div>
      <div class="modal-body">

        <%= form_tag('/users/new_teacher') do %>
          <%= number_field_tag "classroom_id", nil, id: "fieldClassroomId", hidden: true %>

          <div class="field input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= text_field_tag "last_name", nil, class: "form-control", placeholder: "Nom" %>
          </div>

          <div class="field input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= text_field_tag "first_name", nil, class: "form-control", placeholder: "Prénom" %>
          </div>

      	  <div class="field input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= text_field_tag "email", nil, class: "form-control", placeholder: "Courriel académique" %>
          </div>

          <%= button_tag "Ajouter", id: "boutonAjoutEnseignant", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
