<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :classroom_id %><br>
    <%= f.text_field :classroom_id %>
  </div>
  <div class="field">
    <%= f.label :test_id %><br>
    <%= f.text_field :test_id %>
  </div>
  <div class="field">
    <%= f.label :cycle_id %><br>
    <%= f.text_field :cycle_id %>
  </div>
  <div class="field">
    <%= f.label :note_id %><br>
    <%= f.text_field :note_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class:"btn btn-primary" %>
  </div>
<% end %>
