<div id="toolbar">
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Classe</th>
      <th>Cycle</th>
      <th>Epreuve</th>
      <th>Note</th>
      <th>Saisi par</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.classroom && result.classroom.name %></td>
        <td><%= result.cycle.name %></td>
        <td><%= result.test.name %></td>
        <td><%= image_tag result.note.picto.url(:thumb) %></td>
        <td><%= result.user.name %></td>
        <td>
          <%= link_to result, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer ce résultat ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
