<div class="col-md-6">
  <div class="well consignes">
    <p><b>Classe: </b><%= @classroom.name %></p>
    <p><b>Etablisement: </b><%= @classroom.ecole %></p>
    <p><b>Défiweb: </b><%= @cycle.name %></p>
  </div>
</div>

<div class="col-md-6">
  <div class="well consignes">
    <h3>Consigne :</h3>
    <p>Clique sur une épreuve pour saisir <b>le résultat de la classe</b> à <b>cette épreuve</b></p>
  </div>
</div>

<table id="table">
  <thead>
    <tr>
      <% @tests.each do |test| %>
        <th class="epreuves"><a href="#" onclick="saisieNote(<%=@classroom.id%>,<%=@cycle.id%>,<%=test.id%>);" title="Clique sur ici pour saisir le résultat de la classe à cette épreuve"><%= (test.picto.file? ? image_tag(test.picto.url(:medium), width:"130px") : test.name) %></a></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @tests.each do |test| %>
        <% result = Result.where(classroom_id: @classroom.id, cycle_id: @cycle.id, test_id: test.id).first %>
        <td width="80px">
          <% if result %>
            <%= image_tag result.note.picto.url(:thumb), height: "100px", onclick:"saisieNote(#{@classroom.id},#{@cycle.id},#{test.id});", title:"Saisi par #{result.user && result.user.name} le #{result.updated_at && result.updated_at.strftime('%d/%m/%Y à %H:%M')}" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<!-- Modale d'ajout d'un enseignant à la classe -->
<div id="modaleAjoutNote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> <h4 class="modal-title" id="mySmallModalLabel">Saisie d'un résultat</h4> </div>
      <div class="modal-body modal-reponses">

        <%= form_tag('/results') do %>
          <%= number_field_tag "classroom_id", nil, id: "fieldClassroomId", hidden: true %>
          <%= number_field_tag "cycle_id", nil, id: "fieldCycleId", hidden: true %>
          <%= number_field_tag "test_id", nil, id: "fieldTestId", hidden: true %>
          <%= number_field_tag "note_id", nil, id: "fieldNoteId", hidden: true %>

          <div class="col-md-3">
            <%= button_tag(onclick:"valideNote(0);", class: "reponse") do %>
              <p>Remise à zéro</p>
              <%= image_tag "empty", width: "80px" %>
            <% end %>
          </div>
          <% @notes.each do |note| %>
            <div class="col-md-3">
              <%= button_tag(onclick:"valideNote(#{note.id});", class: "reponse") do %>
                <p><%= note.name %></p>
                <%= image_tag note.picto.url(:thumb) %>
              <% end %>
            </div>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>
