<p id="notice"><%= notice %></p>

<p>
  <strong>Classroom:</strong>
  <%= @result.classroom %>
</p>

<p>
  <strong>Test:</strong>
  <%= @result.test %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @result.cycle %>
</p>

<p>
  <strong>Note:</strong>
  <%= @result.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
