<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
      <%= f.select :test_id, options_for_select(Test.order(:name).collect{|mt| [mt.name, mt.id]}.insert(0, "Choisir une épreuve"), @document.test_id), {}, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
      <%= f.select :cycle_id, options_for_select(Cycle.order(:name).collect{|mt| [mt.name, mt.id]}.insert(0, "Choisir un cycle"), @document.cycle_id), {}, class: "form-control" %>
    </div>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
    <%= f.text_field :name, class: "form-control", placeholder: "Nom du document" %>
  </div>

  <div class="field input-group">
    <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
    <%= f.text_area :description, class: "form-control", placeholder: "Description du document" %>
  </div>

  <div class="field">
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary"%>
  </div>
<% end %>
