<div id="toolbar">
  <%= link_to new_level_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter un niveau
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Ordre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.name %></td>
        <td><%= level.order %></td>
        <td><%= link_to 'Edit', edit_level_path(level) %></td>
        <td>
          <%= link_to level, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer ce niveau ?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
