/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*/

$couleur_principale: #52afef;
$couleur_principale_sombre: darken($couleur_principale, 60%);
$couleur_secondaire: #83e9ff;
$couleur_secondaire_sombre: darken($couleur_secondaire, 40%);


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "bootstrap-table";
@import 'font-awesome';
@import 'toastr';
@import 'bootstrap3-switch';
@import '*';

body{
  background: url(/assets/fond.jpg) no-repeat center center fixed;
  background-size: cover;
}

.btn-primary{
  background-color: $couleur_principale !important;
  color: $couleur_principale_sombre !important;
  border-color: $couleur_principale_sombre !important;
}

.btn-primary:hover{
  background-color: lighten($couleur_principale,5%) !important;
}

.btn-info{
  background-color: $couleur_secondaire !important;
  color: darken($couleur_secondaire_sombre, 20%) !important;
  border-color: $couleur_secondaire_sombre !important;
}

.btn-info:hover{
  background-color: lighten($couleur_secondaire,5%) !important;
}

.btn-warning{
  background-color: #ff8a8a !important;
  color: darken(#ff8a8a, 20%) !important;
  border-color: darken(#ff8a8a, 20%) !important;
}

.btn-warning:hover{
  background-color: lighten($couleur_secondaire,5%) !important;
}

a,a:visited{
  color: darken($couleur_principale,40%);
}

a:hover{
  background-color: white;
  color: $couleur_principale_sombre;
}

.page-container{
  position: relative;
  width: 100%;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

.page-container::before,.page-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;
}

.page-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}

.toast-info {
  background-color: #000;
  color: #111;
}

.navbar-right{
  margin-right: 5px;
}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
}

.form-box input:focus{
  outline: 0;
  background: $couleur_principale;
}

.form-box{
  border-radius: 5px 5px 5px 5px;
  //text-transform: lowercase;
}

.form-box input.login{
  margin-top:15px;
  padding: 10px 20px;
}

.field_with_errors{
  width: 100%;
  padding: 2px;
  background-color: red;
  display: table;
}

.pagination > li > a, .pagination > li > a:hover, .pagination > li > a:focus{
  color: $couleur_principale_sombre;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus{
  background-color: $couleur_principale;
  border-color: $couleur_principale_sombre;
  color: $couleur_principale_sombre;
}

li {
  padding-left: 0px;
  text-align: left;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.form-box select {
  background: #fafafa;
  text-align: center;
  color: #999999;
}

.form-box input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.consignes {
  text-align: left;
}

.consignes>h2 {
  text-align: center;
  margin-bottom: 25px;
}

.reponse {
  width: 100%;
  height: 200px;
}

.modal-reponses {
  height: 280px;
}

.epreuves {
  max-width: 90px;
}

td>ul {
  padding: 0;
  list-style-type: none;
}

.white {
  margin-bottom: 0px;
  color: white;
  font-size: 0em;
}

.table-xs, .table-xs>tbody>tr>td, .table-xs>tbody>tr>td>ul>li {
  font-size: 10px;
}

th, .th-inner {
  text-align: center;
  vertical-align: middle !important;
}

.login {
  width: 100%;
}

.end_page {
  overflow: auto;
  width: 100%;
}

.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: $couleur_principale !important;
  color: black !important;
}
