// Place all the styles related to the Instructions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faq {
  h1 {
    text-align: center;
  }
  text-align: left;
}
