<div id="toolbar">
  <%= link_to new_document_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter un document
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Epreuve</th>
      <th>Cycle</th>
      <th>Document</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.test.name %></td>
        <td><%= document.cycle.name %></td>
        <td>
          <%= link_to document.file.url, target: "_blank", title: "Télécharger" do %>
            <span class="glyphicon glyphicon-book"></span>
            <%= document.name %>
          <% end %>
        </td>
        <td><%= document.description %></td>
        <td>
          <%= link_to edit_document_path(document) do %>
            <span class="glyphicon glyphicon-pencil" title="Modifier"></span>
          <% end %>
        </td>
        <td>
          <%= link_to document, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer ce document ?' } do %>
            <i class="glyphicon glyphicon-trash" title="Supprimer"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
