<div id="toolbar">
  <%= link_to new_test_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    Ajouter une épreuve
  <% end %>
</div>

<table id="table"
     data-classes="table table-hover table-condensed"
     data-striped="true"
     data-toolbar="#toolbar"
     data-pagination="true"
     data-click-to-select="false"
     data-search="true"
     data-show-export="true"
     data-reorderable-columns="true"
     data-show-refresh="true"
     data-show-pagination-switch="true">
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Nom</th>
      <th>Picto</th>
      <th>Documents</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.order %></td>
        <td><%= test.name %></td>
        <td><%= image_tag test.picto.url(:thumb) %></td>
        <td>
          <%= link_to "/tests/#{test.id}/documents" do %>
            <i class="fa fa-briefcase fa-4x" title="Documents"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_test_path(test) do %>
            <span class="glyphicon glyphicon-pencil" title="Modifier"></span>
          <% end %>
        </td>
        <td>
          <%= link_to test, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cette épreuve ?' } do %>
            <i class="glyphicon glyphicon-trash" title="Supprimer"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
