<div class="form-box">

  <%= form_for @user_session do |f| %>
    <%= render 'shared/errors', object: @user_session %>

		<div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.text_field :email, class: "form-control", placeholder: "courriel académique", value: @user_session.email.to_s %>
    </div>

    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: "mot de passe" %>
    </div>

    <%= f.submit "Se connecter", class: 'btn btn-primary login' %>
    <br/><br/>
		<%= link_to 'Pas encore inscrit ?', new_user_path %><br/>
    <%= link_to 'Mot de passe oublié ?', "/password_resets/new" %><br/>
    <%= link_to 'Redemander un mail de validation', "/password_resets/new" %><br/>
    <%= link_to 'Foire aux questions', faq_path %>
  <% end %>
</div>
