<!DOCTYPE html>
<html>
<head>
  <title>Defiweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
    <script type="text/javascript">
      $(document).ready(function(){
        toastr.info("<%= notice %>");
      });
    </script>
  <% end %>

  <div class="container">
    <% classe = classe_page(request.original_fullpath) %>
  	<div class="<%= classe %>">
      <div class="page-header"><%= image_tag "logo", width: "400px" %></div>
      <% if current_user %>
      <nav class="navbar navbar-inverse">
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to root_path do %>
                <span class="glyphicon glyphicon-home"></span>
                Mon tableau de bord
              <% end %>
            </li>
            <% if current_user && current_user.admin %>
            <li class="dropdown">
              <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Configuration"><span class="glyphicon glyphicon-cog"></span> Configuration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Académies', academies_path %></li>
                <li><%= link_to 'Circonscriptions', circonscriptions_path %></li>
                <li><%= link_to 'Cycles', cycles_path %></li>
                <li><%= link_to "Types d'établissement", school_types_path %></li>
                <li><%= link_to 'Epreuves', tests_path %></li>
                <li><%= link_to 'Niveaux', levels_path %></li>
                <li><%= link_to 'Notes', notes_path %></li>
                <li><%= link_to 'Administrateurs', users_path( type: "admins" ) %></li>
                <li><%= link_to 'Pilotes', users_path( type: "pilotes" ) %></li>
                <li><%= link_to 'Instructions', instructions_path %></li>
              </ul>
            </li>
            <% end %>
            <% if current_user && (current_user.admin or current_user.pilote) %>
            <li class="dropdown">
              <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Pilotage"><span class="glyphicon glyphicon-check"></span> Pilotage<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Classes inscrites', classrooms_path %></li>
                <li><%= link_to 'Enseignants inscrits', users_path %></li>
                <li><%= link_to 'Résultats bruts', results_path %></li>
                <li><%= link_to "Export Classes/Etab/Enseignants", classroom_complet_path %></li>
              </ul>
            </li>
            <% end %>
            <li class="dropdown">
              <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Voir tous les résultats"><span class="glyphicon glyphicon-education"></span> Voir tous les résultats <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Tous les cyles", "/global/0" %></li>
                <% Cycle.order(:name).each do |cycle| %>
                  <li><%= link_to cycle.name, "/global/#{cycle.id}" %></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to faq_path do %>
                <span class="glyphicon glyphicon-th-list"></span>
                FAQ
              <% end %>
            </li>
            <li class=dropdown"">
              <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Compte"><span class="glyphicon glyphicon-user"></span> <%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mon compte", account_path %></li>
                <li><%= link_to 'Me déconnecter', sign_out_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <% end %>
  		<br/>
      <%= yield %>
    </div>
  </div>

</body>
</html>
